@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e4ddf4;
    position: relative;
    padding: 20px;
   

}
nav > li {
    list-style: none;
    padding-right: 20px;
    font-weight: 700;
    
}


.link{
    text-decoration: none;
    color: #333333;
}
.img{
    width: 80px;
   
}
.logo{
    position: absolute;
    left: 100px;
}